<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>41</TotalTime><Pages>9</Pages><Words>1094</Words><Characters>6236</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>51</Lines><Paragraphs>14</Paragraphs><ScaleCrop>false</ScaleCrop><Company>McGill University</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>7316</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>